*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

li img{
    margin: auto;
    width: 40%;
}

a{
    text-decoration: none;
}

body{
    background: brown;
}

.clear{
    clear: both;
}

.perfil{
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px;
    background: #FF8469;
    color:black;
    /*text-align: right;*/
    font-family: Arial;
    font-size: 1.3em;
}

.perfil img{
   width: 1.8em;
   float: right;
   margin-top: .4em;

}

.perfil p{
    margin-right: .5em;
    color:white;

}

.derecha{
    float: right;
    margin-top: .4em;
    font-size: 1em;
    color: #8e7a74;
    margin-right: 1em;
}

.izquierda{
    float: left;
    font-size: 2em;
}

ul{
    display: flex;
    margin-top: 1em;
}

.item-menu{
    margin: auto;
    background: #F73A48;
    border: 1px solid #F73A48;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    transition: all 500ms;
}

.item-menu a{
    display: block;
    padding: .8em;
    color: white;
    font-family: arial;
    /* PONER GRUESITO LAS LETRAS */
    font-weight: bold;
    transition: all 500ms; 

}

.item-menu:hover, .item-menu a:hover{
    background: white;
    color:#F73A48;
    border-radius: 10px;
}

.post{
    margin: auto;
    font-size: 13px;
    display: block;
    padding: 2em;
    color: black;
    font-family: arial;
    transition: all 500ms;
    margin-top: 2%;
    border: 2px solid #DA3E10;
    width: 90%;
    border-radius: 10px;
  
}

.post-buttons{
    text-align: right;

    
}

.post-buttons a{
    color:#479FDC;
    margin-right: .5em;

}

.post-info{
    font-size: 17px;
}

h1.post-titulo{
    color:#E45213;
    font-size: 22px;
}

.fecha{
    float:left;
    margin-right: .5em;

}

.fecha, .escritor{
    margin-top: .5em;
    margin-bottom: .5em;
    font-weight: bold;
}


footer{
    margin-top: 18.6em;
    position: relative;
    bottom: 0;
    padding: 1em;
    background: #FF8469;
}

