*{
	margin: 0;
	padding: 0;
}
.margin_top{
  margin-top: 10px;
 
}

.content-user{
	margin-top: 30px;
	display: block;
	width: 30%;
}

.content-user input{
	padding: 0.3em;
	width: 50%
}

.content-pass input{
	padding: 10em;
	width: 50%;
}


label{
	font-size: 1.3em;
	
}

.botton-i{
	display: block;
	margin: auto;
	margin-top: 20px;
	padding: 1em;
	background: #F73A48;
	border-radius:10px;
	border:none;
	color: #fff;
	width: 35%;
	font-size: 16px;
}




