*{
	margin: 0;
    padding: 0;
    font-family: arial;
}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
    background: #FF8469;
}

main{
    text-align: center;
}

body{
    background: brown;
}

.botton-a{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #fffcfc;
    font-size: 32px;
    margin-top: 28px;

}

.botton-c{
    padding: .5em;
    border-radius: 10px;
    color: crimson;
}

table{
    margin: auto;
    border: solid rgb(243, 51, 51) 3px ;
    padding: 1em;
    font-size: 20px;
    margin-top: 1.5em;
    background: lightgoldenrodyellow;
    border-radius: 10px;

}

table td{
    padding: .5em;


}

img{
    margin-left: 34em;
    margin-top: 2em;
}

input{
    padding: .5em;
    border-color: coral;
    margin-left: 35em;
    margin-top: 2em;
    border-radius: 10px;
    outline: 0px;
}

.n{
    margin-top: .2em;
}
.n input{
    text-align: center;
    outline: 0px;
    border-color: coral;
}

label{
    font-size: 20px;
    color: #f5d7d7;
}

h2{
    color:bisque;
}