*{
	margin: 0;
    padding: 0;
    font-family: arial;
}

h1{
    font-size: 50px;
    text-align: center;
    color: white;
    background: #FF8469;
}

main{
    text-align: center;
}

.botton-a{
    display: block;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
    color: #F73A48;
    font-size: 32px;
    margin-top:28px;

}

.botton-c{
    padding: .5em;
    border-radius: 10px;
    color: crimson;
}

table{
    margin: auto;
    border: solid rgb(243, 51, 51) 2px ;
    padding: 1em;
    font-size: 20px;
    margin-top: 1.5em;

}

table td{
    padding: .5em;


}

img{
    margin-left: 34em;
    margin-top: 2em;
}

input{
    padding: .5em;
    border-color: grey;
    margin-left: 35em;
    margin-top: 2em;
}

.n{
    margin-top: .2em;
}
.n input{
    text-align: center;
    margin-right: 12em;
}

.n label{
    
}