*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #F73A48;
   
}

.clear{
    clear: both;
}

.perfil{
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px;
    background: #FF8469;
    color:black;
    /*text-align: right;*/
    font-family: Arial;
    font-size: 1.3em;
}

.perfil img{
   width: 1.8em;
   float: right;
   margin-top: .4em;

}

.perfil p{
    margin-right: .5em;
    color:white;

}

.derecha{
    float: right;
    margin-top: .4em;
    font-size: 1.5em;
    cursor: pointer;
}

.derecha-a{
    float: right;
    margin-top: .4em;
    font-size: 1em;
    color: blue;
    margin-right: 1em;
}

.izquierda{
    float: left;
    font-size: 2em;
}

ul{
    display: flex;
    margin-top: 1em;
}

.item-menu{
    margin: auto;
    background: #F73A48;
    border: 1px solid #F73A48;
    border-radius: 10px;
    width: 20%;
    text-align: center;
    transition: all 500ms;
}

.item-menu a{
    display: block;
    padding: .8em;
    color: white;
    font-family: arial;
    /* PONER GRUESITO LAS LETRAS */
    font-weight: bold;
    transition: all 500ms; 

}

.item-menu:hover, .item-menu a:hover{
    background: transparent;
    color:#F73A48;
}

.post{
    margin: auto;
    font-size: 13px;
    display: block;
    padding: 2em;
    color: black;
    font-family: arial;
    transition: all 500ms;
    margin-top: 2%;
    border: 2px solid #DA3E10;
    width: 90%;
    border-radius: 10px;
  
}

.post-buttons{
    text-align: right;

    
}

.post-buttons a{
    color:#479FDC;
    margin-right: .5em;

}

.post-info{
    font-size: 18px;
}

.post-in{
    font-size: 30px;
    margin-top: 1em;
    text-align: justify;
}

h1.post-titulo{
    color:#E45213;
    font-size: 22px;
}

.fecha{
    margin-left:.5em;

}

.fecha, .escritor{
    margin-top: .9em;
    margin-bottom: .5em;
    font-weight: bold;
    color: #FF8469;
    margin-right: 10em;
    
}

footer{
    margin-top: 2.5em;
    position: relative;
    bottom: 0;
    padding: 1em;
    background: #FF8469;
}

.content input{
    padding: 8em;
    box-sizing: 1em;
  
}

textarea{
    width: 100%;
    margin-top: .8em;
}

h1{
    margin-top: 1em;
    color: #F73A48;
}

.content label{
    font-size: 22px;
    
}

.botton-i {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: .8em;
    background: #F73A48;
    border-radius: 10px;
    border: none;
    color: #fff;
    width: 10%;
    font-size: 15px;
}

.botton-a {
    display: block;
    text-align: center;
    margin-top: 25px;
    text-decoration: none;
    color: #F73A48;
    font-size:2em;
}

img{
    width: 1.5em;
    margin-top: .4em;
    flex-direction: row;
    float: left;


}

h2{
    margin-top: 1em;
    text-align: center;
    color: #EB134E;
}

.fecha{
    float: inherit;
}
